* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* sezione principale */

main {
    height: calc(100vh - 70px);
    background-color: black;
    overflow-y: scroll;
}

/* icone in alto a destra */

.bottoni {
    display: flex;
    justify-content: flex-end;
}

.bottoni button {
    background-color: #2D2D2D;
    color: white;
    font-size: 15px;
    padding: 5px 5px;
    margin: 10px 5px 30px;
}

.fa-film {
    padding-right: 5px;
}

/* sezione centrale con flex */

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

.colonna-sinistra, .colonna-destra {
    align-self: center;
}

.fa-caret-left {
    color: #7F7F7F;
    font-size: 60px;
}

.fa-caret-right {
    color: #2EBAFF;
    font-size: 60px;
}

.flex-item p {
    color: white;
}

.colonna-centro {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;
    width: 90%;
}

.colonna-centro div {
    width: 19%;
    margin: 0 5px;
    position: relative;
}

.fa-microphone {
    position: absolute;
    bottom: 4px;
    left: 0;
    padding: 3px 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.fa-microphone-alt-slash {
    position: absolute;
    bottom: 4px;
    left: 0;
    padding: 3px 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.colonna-centro div img {
    max-width: 100%;
}

/* footer */

footer {
    height: 70px;
    background-color: #202223;
    display: flex;
    justify-content: space-between;
}

.flex-footer {
    align-self: center;
    display: flex;
    margin-left: 15px;
}

.icona {
    color: white;
    margin-right: 20px;
    font-size: 25px;
    text-align: center;
}

.fa-chevron-up {
    font-size: 20px;
    color: white;
    margin-right: 20px;
    align-self: center;
}

.fa-share-square {
    color: #4BC800;
    margin-right: 0;
}

.opzioni {
    font-size: 15px;
    color: white;
}

#end-meeting button {
    height: 70px;
    font-size: 20px;
    color: #F3564C;
    background-color: #4A4B4D;
    padding: 25px 15px;
    border: none;
}
